.container {
  width: auto;
  height: 950px;
  background-image: url("/resultPage.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 120px;
}

.header {
  width: auto;
  height: 10px;
}

.footer {
  width: auto;
  height: 10px;
}
