.findContainerWrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.header {
  display: flex;
  width: 100%;
  height: 48px;
  border-radius: 50px;
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;
}

.headerText {
  color: var(--Neutral-0, #fff);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 0 auto;
}

.section {
  display: flex;
  width: 100%;
  height: 400px;
  margin-top: 100px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 85%;
}

.sectionTitle {
  color: #fff;
  font-family: "DM Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0.5px;
  white-space: normal;
  word-break: break-word;
}

.sectionDesc {
  color: var(--Neutral-7, #8ca2c0);
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.right {
  display: flex;
  width: 85%;
  height: 85%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 150px;
  flex-shrink: 0;
  margin-left: -50px;
}
