.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(10, 10, 20, 0.6);
  backdrop-filter: blur(1px);
  padding: 0 24px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 640px;
  width: 100%;
  align-items: center;
  text-align: center;
}

.titleBlock {
  display: flex;
  flex-direction: column;
}

.title {
  color: #ffffff;
  font-family: Futura, sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
  opacity: 0.85;
  padding: 0 12px;
}

.quote {
  color: #d4d4d4;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.buttonGroup {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.primaryBtn,
.secondaryBtn {
  text-decoration: none;
  padding: 14px 24px;
  border-radius: 36px;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
  color: #454dc7 !important;
}

.primaryBtn {
  color: #3b3b6d;
  background-color: #ffffff;
}

.primaryBtn:hover,
.secondaryBtn:hover {
  background-color: #f4f4f4;
  transform: translateY(-1px);
}

.secondaryBtn {
  color: #454dc7;
  border: 1.3px solid #ffffff;
  background: #ffffff;
}
