.section {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  gap: 20px;
}

.titleBlock {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--Neutral-Colors-White, #fff);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Futura;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
  display: flex;
  align-items: center;
}

.quoteBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.quote {
  color: var(--Color, #c3c3c3);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Futura-Light;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.buttonGroup {
  display: flex;
  gap: 24px;
}

.primaryBtn {
  text-decoration: none;
  color: #5d5a88;
  display: flex;
  padding: 24px 36px;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  background: var(--Neutral-Colors-White, #fff);
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.secondaryBtn {
  display: flex;
  padding: 24px 36px;
  align-items: center;
  gap: 8px;
  border-radius: 36.55px;
  border: 1.5px solid var(--Neutral-Colors-White, #fff);
  box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);
  color: var(--Neutral-Colors-White, #fff);
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}
