.container {
  width: auto;
  height: 900px;
  background-image: url("/helperPage.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
}

.footer {
  width: auto;
  height: 118px;
  flex-shrink: 0;
  background: var(--Neutral-Colors-White, #fff);
}
