.bg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("/usual/resized_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

.container {
  width: 30%;
  height: 70vh;
  margin: 0 auto;
  padding: 40px 30px;
  background-color: linear-gradient(transparent, rgb(162, 47, 215));
  border-radius: 16px;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.2);
}

.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
  color: #ffffff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 80%;
  width: 100%;
  overflow-y: auto;
}
/* 전체 스크롤바 스타일 */
.form::-webkit-scrollbar {
  width: 8px;
}

/* 스크롤 트랙(배경) */
.form::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* 스크롤 핸들(움직이는 부분) */
.form::-webkit-scrollbar-thumb {
  background-color: rgba(121, 120, 157, 0.835); /* 보라색 계열 반투명 */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

/* 스크롤 핸들 hover 시 */
.form::-webkit-scrollbar-thumb:hover {
  background-color: rgba(76, 74, 124, 0.9);
}

.inputField {
  padding: 14px;
  font-size: 15px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  background-color: #f5f6f9;
  color: #2c2c2c;
}

.inputField::placeholder {
  color: #999;
}

.selectField {
  padding: 14px;
  font-size: 15px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  background-color: #f5f6f9;
  color: #2c2c2c;
}

.submitButton {
  background-color: #9790f5;
  color: #ffffff;
  padding: 14px;
  padding-bottom: 10px;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submitButton:hover {
  background-color: #826fff;
}
