html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: auto;
}

body {
  margin: 0;
  padding: 0;
  background: url("/usual/resized_image.png") no-repeat center center fixed;
  background-size: cover; /* 이미지 로딩 전 기본 배경 */
  color: white;
  font-family: "DM Sans", sans-serif;
  overflow-y: scroll;
}

main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

:root {
  --Neutral-Colors-Headings-Black: #5d5a88;
}
